<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-40">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="assets/img/logo/logo-light.png" alt>
                        </a>
                        <p class="mb-3">
                            ما انواع مختلفی از معابر در دسترس داریم، اما عمده آن دچار تغییر شده است
                            تزریق شده است.
                        </p>
                        <ul class="footer-contact">
                            <li><a href="tel:+21236547898"><i class="far fa-phone"></i>09333333333</a></li>
                            <li><i class="far fa-map-marker-alt"></i>میلفورد جاده، نیویورک</li>
                            <li>
                                <a href="/cdn-cgi/l/email-protection#71181f171e311409101c011d145f121e1c">
                                    <i class="far fa-envelope"></i><span class="__cf_email__"
                                                                         data-cfemail="dbb2b5bdb49bbea3bab6abb7bef5b8b4b6">info@example.com</span>
                                </a>
                            </li>
                            <li><i class="far fa-clock"></i>دوشنبه تا جمعه (9:00 صبح تا 8:00 بعد از ظهر)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">پیوندهای سریع</h4>
                        <ul class="footer-list">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">اطلاعات تحویل</a></li>
                            <li><a href="#">با ما تماس بگیرید</a></li>
                            <li><a href="#">اخبار به‌روزرسانی</a></li>
                            <li><a href="#">توصیه‌های ما</a></li>
                            <li><a href="#">شرایط خدمات</a></li>
                            <li><a href="#">خط مشی رازداری</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">مرور رده</h4>
                        <ul class="footer-list">
                            <li><a href="#">لوازم جانبی</a></li>
                            <li><a href="#">تلویزیون و مانیتور</a></li>
                            <li><a href="#">رایانه‌ها</a></li>
                            <li><a href="#">تلفن همراه</a></li>
                            <li><a href="#">ساعت هوشمند</a></li>
                            <li><a href="#">هدفون</a></li>
                            <li><a href="#">بازی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">مرکز پشتیبانی</h4>
                        <ul class="footer-list">
                            <li><a href="#">سؤالات متداول</a></li>
                            <li><a href="#">نحوه خرید</a></li>
                            <li><a href="#">مرکز پشتیبانی</a></li>
                            <li><a href="#">سفارش خود را پیگیری کنید</a></li>
                            <li><a href="#">خط مشی بازگشت</a></li>
                            <li><a href="#">شرکت‌های وابسته ما</a></li>
                            <li><a href="#">نقشه سایت</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">برنامه موبایل را دریافت کنید</h4>
                        <p>برنامه الکتو اکنون در اپ استور و گوگل پلی در دسترس است.</p>
                        <div class="footer-download">
                            <h5>برنامه موبایل ما را دانلود کنید</h5>
                            <div class="footer-download-btn">
                                <a href="#">
                                    <i class="fab fa-google-play"></i>
                                    <div class="download-btn-info">
                                        <span>آن را روشن کنید</span>
                                        <h6>گوگل پلی</h6>
                                    </div>
                                </a>
                                <a href="#">
                                    <i class="fab fa-app-store"></i>
                                    <div class="download-btn-info">
                                        <span>آن را روشن کنید</span>
                                        <h6>فروشگاه برنامه</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="footer-payment mt-20">
                            <span>می پذیریم:</span>
                            <img src="assets//img/payment/visa.svg" alt>
                            <img src="assets//img/payment/mastercard.svg" alt>
                            <img src="assets//img/payment/amex.svg" alt>
                            <img src="assets//img/payment/discover.svg" alt>
                            <img src="assets//img/payment/paypal.svg" alt>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-top-link">
                        <div class="footer-top-link-info">
                            <a href="#">بهترین فروش</a>
                            <a href="#">موارد جدید</a>
                            <a href="#">لوازم جانبی</a>
                            <a href="#">الکترونیک</a>
                            <a href="#">رایانه‌ها</a>
                            <a href="#">تلفن همراه</a>
                            <a href="#">هدفون</a>
                            <a href="#">تلویزیون و مانیتور</a>
                            <a href="#">پهپاد</a>
                            <a href="#">چاپگر</a>
                            <a href="#">ساعت هوشمند</a>
                            <a href="#">ایرباد</a>
                            <a href="#">دوربین</a>
                            <a href="#">بازی</a>
                            <a href="#">تخفیف</a>
                            <a href="#">پرداخت</a>
                            <a href="#">پشتیبانی</a>
                            <a href="#">نقشه سایت</a>
                            <a href="#">شرکت‌های وابسته ما</a>
                            <a href="#">خط مشی بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 col-lg-6 align-self-center">
                        <p class="copyright-text">
                            &کپی 🀄؛ حق چاپ <span id="date"></span> <a href="#"> الکتو </a> کلیه حقوق محفوظ است.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 align-self-center">
                        <div class="footer-social">
                            <span>ما را دنبال کنید:</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

